<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Guest Lectures</a>
                  </li>
               </ul>
               <h2>Guest Lectures</h2>
            </div>
         </div>
      </div>
   </div>

   <div class="table-part">
      <table class="table">
         <thead>
            <tr>
               <th>Lecturer Id</th>
               <th>Lecturer</th>
               <th>Event Name</th>
               <th>Event Date</th>
               <th>Reviews</th>
               <th>Total Lectures</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let lecture of lectures">
               <td>{{lecture.id}}</td>
               <td>{{lecture.names}}</td>
               <td>{{lecture.name}}</td>
               <td>{{lecture.date}}</td>
               <td>{{lecture.reviews}}</td>
               <td>{{lecture.total}}</td>
            </tr>

         </tbody>
      </table>
   </div>

</section>   
