<div class="main-box">
   <div class="form-cont">
      <div class="top-buttons">
         <button class="to-signup top-active-button">
         Sign Up
         </button>
         <button class="to-signin">
         Sign In
         </button>
      </div>

      <!-- Sign Up -->
      <div class="form form-signup">
         <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div>
               <input type="text"  formControlName="nameForm" name="name" [(ngModel)]="name"   [ngClass]="{ 'is-invalid': submitted1 && f1.nameForm.errors }" autocomplete="off" placeholder="Your Name">
            </div>
            <div>
               <input type="email" placeholder="Your E-mail" formControlName="emailForm" name="email" [(ngModel)]="email"   [ngClass]="{ 'is-invalid':submitted1 && f1.emailForm.errors }" autocomplete="off">
            </div>
            <div>
               <input type="password" placeholder="Password" [(ngModel)]="Password" formControlName="passwordForm" name="password"    [ngClass]="{ 'is-invalid': submitted1 && f1.passwordForm.errors }" autocomplete="off">
            </div>
            <div>
               <!-- <p class="terms">
                  <input type="checkbox">
                  I agree all statments in
                  <a href="#" class="lined-link">terms of service</a>
               </p> -->
            </div>
            <input type="submit" class="form-btn" value="Sign Up"/>
            <a href="#" class="lined-link to-signin-link">I'm already member</a>
         </form>
      </div>

      <!-- Sign In -->
      <div class="form form-signin">
         <div class="login">
            <form class="login-container"  [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
               <input type="email" placeholder="Email" formControlName="emailForm" name="username" [(ngModel)]="Username"   [ngClass]="{ 'is-invalid': submitted && f.emailForm.errors }" autocomplete="off">
            </p>
            <div *ngIf="submitted && f.emailForm.errors" class="invalid-feedback">
               <div class="requirecolor valiAlign" *ngIf="f.emailForm.errors.required">Email is required</div>
               <div class="requirecolor valiAlign" *ngIf="f.emailForm.errors.pattern">Email must be a valid email
                  address
               </div>
            </div>
            <p>
               <input type="password" placeholder="Password" [(ngModel)]="Password" formControlName="passwordForm" name="password"    [ngClass]="{ 'is-invalid': submitted && f.passwordForm.errors }" autocomplete="off">
            </p>
            <div *ngIf="submitted && f.passwordForm.errors" class="invalid-feedback">
               <div class="requirecolor valiAlign" *ngIf="f.passwordForm.errors.required">Password is required</div>
               <div class="requirecolor valiAlign" *ngIf="f.passwordForm.errors.minlength">Must Have length more than
                  10
               </div>
            </div>
            <input type="submit" value="Log in" class="form-btn"s>
            <a href="#" class="lined-link to-signup-link">Create new account</a>
            </form>
         </div>
      </div>
   </div>
   <div class="clear-fix"></div>
</div>
