<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Students</a>
                  </li>
               </ul>
               <h2>Students</h2>
            </div>
         </div>
         <div class="col-6">
            <div class="create-btn">
               <a routerLink="/student-create">
                  Create Students
               </a>
            </div>
         </div>
      </div>
   </div>

   <div class="table-part">
      <table class="table">
         <thead>
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Department</th>
               <th>Regulation</th>
               <th>Contact No</th>
               <th>Guest Lectures</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let student of students">
               <td>{{student.studentId}}</td>
               <td>{{student.name}}</td>
               <td>{{student.department}}</td>
               <td>{{student.batch}}</td>
               <td>{{student.contactNo}}</td>
               <td>{{student.guest}}</td>
               <td>
                  <a class='edit-btn' routerLink="edit/', student.id" >edit</a>
                  <button class='dl-btn'>delete</button>
               </td>
            </tr>

         </tbody>
      </table>
   </div>

</section>
