.main-menu{
   background-color: #252525;
   height: 100vh;
   width: 100%;
}
.main-menu ul{
   padding-top: 20px;
}
.main-menu ul li a{
   display: block;
   padding: 15px;
   font-size: 18px;
   color: #fff;
   text-transform: capitalize;
}
.main-menu ul li a.active{
   background-color: #303030;
}