<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Students</a>
                  </li>
               </ul>
               <h2>Students</h2>
            </div>
         </div>
         <div class="col-6">
            <div class="create-btn">
               <a routerLink="/students">
                  Back
               </a>
            </div>
         </div>
      </div>
   </div>
</section>   

<section class="student-create">
	<form action="#">
		<div class="form-group row">
			<div class="col-3">
				<label>Name</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Department</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Regulation</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Contact No</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Guest Lectures</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-12">
				<button type="submit" class="submit-btn">Submit</button>
			</div>
		</div>
	</form>
</section>
