<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Students</a>
                  </li>
               </ul>
               <h2>Students</h2>
            </div>
         </div>
         <div class="col-6">
            <div class="create-btn">
               <a routerLink="/students">
                  Back
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="student-create">
	<form [formGroup]="studentForm" (ngSubmit)="studentCreate()">

		<div class="form-group row">
			<div class="col-3">
				<label>Name</label>
			</div>
			<div class="col-9">
				<input type="text" formControlName="nameForm" name="name" [(ngModel)]="name"
        [ngClass]="{ 'is-invalid': submitted && f.nameForm.errors }"
        autocomplete="off"  placeholder="enter student id"
        class="form-control"  maxlength="50" >
        <div *ngIf="submitted && f.nameForm.errors" class="invalid-feedback">
            <div class="requirecolor valiAlign" *ngIf="f.nameForm.errors.required">
                 name is required</div>
        </div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Department</label>
			</div>
			<div class="col-9">
				<input type="text" formControlName="departmentForm" name="department" [(ngModel)]="department"
        [ngClass]="{ 'is-invalid': submitted && f.departmentForm.errors }"
        autocomplete="off"  placeholder="enter department"
        class="form-control" maxlength="50">
        <div *ngIf="submitted && f.departmentForm.errors" class="invalid-feedback">
            <div class="requirecolor valiAlign" *ngIf="f.departmentForm.errors.required">
                department is required</div>
        </div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3">
				<label>Batch</label>
			</div>
			<div class="col-9">
        <input type="text" formControlName="batchForm" name="batch" [(ngModel)]="batch"
        [ngClass]="{ 'is-invalid': submitted && f.batchForm.errors }"
        autocomplete="off"  placeholder="enter batch"
        class="form-control" maxlength="50">
        <div *ngIf="submitted && f.batchForm.errors" class="invalid-feedback">
            <div class="requirecolor valiAlign" *ngIf="f.batchForm.errors.required">
                batch is required</div>
        </div>
			</div>
		</div>
		<!-- <div class="form-group row">
			<div class="col-3">
				<label>StudentID</label>
			</div>
      <div class="col-9">
          <input type="text" formControlName="studentForm" name="studentID" [(ngModel)]="studentID"
          [ngClass]="{ 'is-invalid': submitted && f.studentForm.errors }"
          autocomplete="off"  placeholder="enter student id"
          class="form-control"  maxlength="50" >
          <div *ngIf="submitted && f.studentForm.errors" class="invalid-feedback">
              <div class="requirecolor valiAlign" *ngIf="f.studentForm.errors.required">
                student id is required</div>
          </div>
        </div>
    </div> -->

		<div class="form-group row">
			<div class="col-3">
				<label>Contact No</label>
			</div>
			<div class="col-9">
				<input ype="text" formControlName="contactForm" name="contactNo" [(ngModel)]="contactNo"
        [ngClass]="{ 'is-invalid': submitted && f.contactForm.errors }"
        autocomplete="off"  placeholder="enter student id"
        class="form-control"  maxlength="50" >
        <div *ngIf="submitted && f.contactForm.errors" class="invalid-feedback">
            <div class="requirecolor valiAlign" *ngIf="f.contactForm.errors.required">
                contact number is required</div>
        </div>
			</div>
		</div>
		<!-- <div class="form-group row">
			<div class="col-3">
				<label>Guest Lectures</label>
			</div>
			<div class="col-9">
				<input type="name" name="" class="form-control">
			</div>
		</div> -->
		<div class="form-group row">
			<div class="col-12">
				<button type="submit" class="submit-btn">{{buttonText}}</button>
			</div>
		</div>
	</form>
</section>


