<section class="detail-part">
   <div class="banner-sec">
      <div class="row">
         <div class="col-6">
            <div class="banner-text">
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link active">Home</a>
                  </li>
                  <li class="nav-item">
                     <span id="menu-icon">/</span>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link">Reviews</a>
                  </li>
               </ul>
               <h2>Reviews</h2>
            </div>
         </div>
      </div>
   </div>

   <div class="table-part">
      <table class="table">
         <thead>
            <tr>
               <th>Event Id</th>
               <th>Lecturer</th>
               <th>Reviewer</th>
               <th>Event Name</th>
               <th class="content-part">Review</th>
               <th>Rating</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let review of reviews">
               <td>{{review.id}}</td>
               <td>{{review.lecturername}}</td>
               <td>{{review.reviewer}}</td>
               <td>{{review.name}}</td>
               <td>{{review.reviews}}</td>
               <td>{{review.rating}}</td>
            </tr>

         </tbody>
      </table>
   </div>

</section>   
